<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Profile</title>
		<link rel="stylesheet"
		      type="text/css"
		      th:href="@{/resources/styles/base.css}"></link>
	</head>
	<body>
		<div th:replace="fragments/header :: header">&nbsp;</div>
		
		<div id="content">
			<h1>Your Profile</h1>
			<span th:text="${user.username}">username</span><br/>
			<span th:text="${user.fullName}">Full Name</span><br/>
			<span th:text="${user.email}">email</span>
		</div>

		<div th:replace="fragments/footer :: copy">&nbsp;</div>
	</body>
</html>