<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Articles</title>
		<link rel="stylesheet" type="text/css" th:href="@{/resources/styles/base.css}"></link>
	</head>
	<body>
		<div id="header" th:include="page :: header"></div>

		<h1>Article</h1>

		<div id="articlePage">
			<div class="article">
				<div class="articleCreatedBy">
					Title: <span th:text="${article.title}">Title</span>
				</div>
				<div class="articleCreatedBy">
					Author: <span th:text="${article.createdBy}">Created By</span>
				</div>
				<div class="articleCreatedDate">
					Created: <span th:text="${article.createdDate}">Created Date</span>
				</div>
				<div class="articleDescription">
					Description: <span th:text="${article.description}">Description</span>
				</div>
			</div>
		</div>

		<div id="footer" th:include="page :: copy"></div>
	</body>
</html>
