<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<head>
		<title>Articles</title>
		<link rel="stylesheet" type="text/css" th:href="@{/resources/styles/base.css}"></link>
	</head>
	<body>
		<div th:replace="fragments/header :: header">&nbsp;</div>
		<h1>Articles</h1>		
		<div id="articleCreate">
			<a th:href="@{/articles/create}">Create</a>
		</div>
		<hr />

		<div id="articleList">
			<div th:each="article: ${articleList}">				
				<div class="articleItem">
					<div class="articleTitle">
						<a th:href="@{/articles/} + ${article.id}" th:text="${article.title}">title</a>
					</div>
					<div class="articleCreatedBy">
						Author: <span th:text="${article.createdBy}">Created By</span>
					</div>
					<div class="articleCreatedDate">
						Created: <span th:text="${article.createdDate}">Published Date</span>
					</div>
					<div class="articleDescription"> 
						Description: <span th:text="${article.description}">Description</span>
					</div>
					<div class="articleKeywords">
						Keywords: <span th:text="${article.keywords}">Keywords</span>
					</div>
				</div>
				<hr />
			</div>
		</div>

		<div th:replace="fragments/footer :: copy">&nbsp;</div>
	</body>
</html>
